<form  on:submit='handleSubmit( event )'>
  <label class="textfield" for="location">
    <input type="text" id="location" name="location"/>
    <span class="textfield__label">Location</span>
  </label>
  <label class="textfield" for="amount">
    <input type="text" id="amount" name="amount"/>
    <span class="textfield__label">Amount</span>
  </label>
  <label class="checkbox" for="deposit">
    <input type="checkbox" name="deposit" id="deposit" />
    <span class="checkbox__label">Deposit</span>
  </label>
  <label class="select" for="category">
    <select name="category" id="category">
      <option disabled="disabled" selected="selected">Category</option>
      {{#each categories as category}}
      <option value="{{category}}">{{category}}</option>
      {{/each}}
    </select>
    <span class="select__label" for="select">Category</span>
  </label>
  <label class="textfield" for="date">
    <input type="text" id="date" name="date"/>
    <span class="textfield__label">Date</span>
  </label>

  <button type="submit">Add transaction</button>
</form>



<script>
  const axios = require('axios');

  export default {
    data() {
      return {
        categories: [
          "Groceries",
          "Bills (rent, utilities, etc)",
          "Eating out",
          "Vices",
          "Recreational",
          "House stuff",
          "Gifts/Donations",
          "Pay day",
          "Other"
        ]
      }
    },
    methods: {
      handleSubmit(event) {
        event.preventDefault();
        const self = this;
        const deposit = event.target.elements.deposit.value;
        // amount should be negative unless it is a deposit
        const amount = deposit === 'on' ? event.target.elements.amount.value : event.target.elements.amount.value * -1;
        // send a blank string as category if nothing selected
        const category = event.target.elements.category.value ? event.target.elements.category.value : '';
        const location = event.target.elements.location.value;
        const date = event.target.elements.date.value;

        // console.log(amount, deposit, category, localStorage.getItem('auth'))
        self.fire('beginTransactionAdd', {
          amount,
          location,
          category,
          date
        })
        axios.post(`/transactions/${localStorage.getItem('auth')}`, {
          amount,
          location,
          category,
          date
        }).then(response => {
          self.fire('successTransactionAdd', {
            amount,
            location,
            category,
            date
          })
        }).catch(err => {
          self.fire('errorTransactionAdd', {
            error: err
          })
          alert('whoops, there was an error! Go bug Eric and tell him something messed up');
        })
      }
    }
  }
</script>