<form  on:submit='handleSubmit( event )'>

  <!--Location-->
  <label class="textfield" for="location">
    <input type="text" id="location" name="location"/>
    <span class="textfield__label">Location</span>
  </label>

  <!--Amount field-->
  <label class="textfield" for="amount">
    <input type="number" id="amount" name="amount" step="0.01"/>
    <span class="textfield__label">Amount</span>
  </label>

  <!--Deposit? (boolean)-->
  <label class="checkbox" for="deposit">
    <input type="checkbox" name="deposit" id="deposit" />
    <span class="checkbox__label">Deposit</span>
  </label>

  <!--Category-->
  <label class="select" for="category">
    <select name="category" id="category">
      <option disabled="disabled" selected="selected" value="Not specified">Category (optional)</option>
      {{#each categories as category}}
      <option value="{{category}}">{{category}}</option>
      {{/each}}
    </select>
    <span class="select__label" for="select">Category (optional)</span>
  </label>

  <!--Date of transaction-->
  <label class="textfield" for="date">
    <input type="text" id="date" name="date"/>
    <span class="textfield__label">Date</span>
  </label>

  <button type="submit">Add transaction</button>
</form>



<script>
  const axios = require('axios');
  const flatpickr = require('flatpickr');

  export default {
    data() {
      return {
        categories: [
          "Groceries",
          "Bills (rent, utilities, etc)",
          "Eating out",
          "Vices (e.g. booze)",
          "Recreational",
          "House stuff",
          "Gifts/Donations",
          "Pay day",
          "Other"
        ]
      }
    },
    methods: {
      handleSubmit(event) {
        event.preventDefault();
        const self = this;
        const deposit = event.target.elements.deposit.checked;
        // amount should be negative unless it is a deposit
        const amount = deposit ? event.target.elements.amount.value : event.target.elements.amount.value * -1;
        // send a blank string as category if nothing selected
        const category = event.target.elements.category.value ? event.target.elements.category.value : '';
        const location = event.target.elements.location.value;
        const transactionDate = event.target.elements.date.value;

        // console.log(amount, deposit, category, transactionDate)
        self.fire('beginTransactionAdd', {
          amount,
          location,
          category,
          transactionDate
        })
        // clear form and set category to default (disabled options will not select with `reset()`)
        event.target.reset();
        document.getElementById('category').selected = 0;

        axios.post(`/transactions/${localStorage.getItem('auth')}`, {
          amount,
          location,
          category,
          transactionDate
        }).then(response => {
          self.fire('successTransactionAdd', {
            amount,
            location,
            category,
            transactionDate
          })
        }).catch(err => {
          self.fire('errorTransactionAdd', {
            error: err
          })
          alert('whoops, there was an error! Go bug Eric and tell him something messed up');
        })
      }
    },
    oncreate() {
      // bind flatpickr to #date
      flatpickr("#date", {altInput: true})
    }
  }
</script>