<div id='main' class='wrapper'>
  {{#if auth}}
    <button on:click="handleLogOut()" class="btn--secondary">Log out</button>
    <UserSummary balance={{balance}}
      transactions={{transactions}}
      name={{name}}/>
  {{else}}
    <!--note: svelte requires this parameter to be consistently named 'event'-->
    <LoginSignup on:submit="handleAuth(event)"/>
  {{/if}}
</div>


<script>
  import LoginSignup from './LoginSignup';
  import UserSummary from './UserSummary';

  export default {
    data() {
      return {
        auth: localStorage.getItem('auth'),
        balance: 0,
        transactions: [],
        name: ''
      }
    },
    components: {
      UserSummary,
      LoginSignup
    },
    methods: {
      handleLogOut() {
        this.set({auth: false});
        localStorage.removeItem('auth');
      },
      handleAuth(event) {
        this.set({
          balance: event.balance,
          transactions: event.transactions,
          name: event.name,
          auth: event.id
        });
        localStorage.setItem('auth', event.id);
      }
    },
    oncreate() {
      // TODO: fetch user data based on localstorage auth
    }
  }
</script>