<!--.container is required for push menu styling-->
<div id='main' class='container'>
  <button class="btn--secondary" on:click="toggleSidebar()">Menu</button>
  <Sidebar
    auth={{auth}}
    links={{links}}
    isExpanded={{isExpanded}}
    on:navigate="handleNavigate(event)"
    on:toggleSidebar="toggleSidebar()"
    on:logout="handleLogOut()" />
  <div class="wrapper push-body {{isExpanded ? 'expanded' : 'collapsed'}}">
  {{#if !auth}}
    <!--note: svelte requires this parameter to be consistently named 'event'-->
    <LoginSignup on:submit="handleAuth(event)"/>
  {{else}}
    <!--Components will be mounted here when the page navigates-->
    <div id='views'></div>
  {{/if}}
  </div>
</div>


<script>
  import LoginSignup from './LoginSignup';
  import UserSummary from './UserSummary';
  import Sidebar from './Sidebar';
  import Charts from './Charts';
  import notfound from './notfound';
  const axios = require('axios');
  const page = require('page');

  const sortByDateDesc = (a, b) => {
    const aDate = new Date(a.transactionDate);
    const bDate = new Date(b.transactionDate);
    if (aDate < bDate) return 1;
    if (aDate > bDate) return -1;
    return 0
  }

  export default {
    oncreate() {
      const self = this;

      // Set up client routes
      page('/', '/my-summary')
      page('/my-summary', function() {
        // destroy any existing components
        const view = self.get('view');
        if (view) view.destroy();

        // generate new component and set it as the current view
        const userSummary = new UserSummary({
          target: document.getElementById('views'),
          data: {
            balance: self.get('balance'),
            transactions: self.get('transactions'),
            name: self.get('name')
          }
        });
        self.set({ view: userSummary });
      })
      page('/my-charts', function () {
        // destroy any existing components
        const view = self.get('view');
        if (view) view.destroy();

        // generate new component and set it as the current view
        const charts = new Charts({
          target: document.getElementById('views'),
          data: {
            balance: self.get('balance'),
            transactions: self.get('transactions'),
            name: self.get('name')
          }
        })
        self.set({ view: charts });
      })
      page('*', function () {
        const view = self.get('view');
        if (view) view.destroy();

        // generate new component and set it as the current view
        const notfound = new notfound({
          target: document.getElementById('views')
        })
        self.set({ view: notfound });
      })

      // Attach listeners to keep the view updated
      const balanceListener = self.observe('balance', function(balance) {
        const view = self.get('view');
        if (view) view.set({ balance: balance });
      })
      const transactionsListener = self.observe('transactions', function(transactions) {
        const view = self.get('view');
        if (view) view.set({ transactions: transactions });
      })
      const nameListener = self.observe('name', function(name) {
        const view = self.get('view');
        if (view) view.set({ name: name });
      })

      // if authenticated, populate user data and navigate to userSummary
      if (this.get('auth')) {
        page('/my-summary')
        axios.get(`/users/${this.get('auth')}`)
        .then(userRes => {
          this.set({
            name: userRes.data.name,
            balance: userRes.data.balance
          })
          // once received user data, get transactions
          return axios.get(`/transactions/${this.get('auth')}`)
        })
        .then(transactionRes => {
          const sortedTransactions = transactionRes.data.transactions.sort(sortByDateDesc)
          this.set({
            transactions: sortedTransactions
          })
        })
        .catch(err => {
          this.set({err: err})
        })
      }
    },
    data() {
      return {
        auth: localStorage.getItem('auth'),
        balance: 0,
        transactions: [],
        name: '',
        err: null,
        links: [
          {
            text: 'Summary',
            href: '/my-summary'
          },
          {
            text: 'Charts',
            href: '/my-charts'
          }
        ],
        isExpanded: true,
        view: null
      }
    },
    components: {
      UserSummary,
      LoginSignup,
      Sidebar
    },
    methods: {
      handleLogOut() {
        this.set({auth: false});
        localStorage.removeItem('auth');
      },
      toggleSidebar() {
        this.set({isExpanded: !this.get('isExpanded')})
      },
      handleNavigate(event) {
        page(event.href);
      },
      handleAuth(event) {
        this.set({
          balance: event.balance,
          transactions: event.transactions,
          name: event.name,
          auth: event.id
        });
        localStorage.setItem('auth', event.id);
      }
    }
  }
</script>