<form on:submit="onSubmit(e)">
  <label class="textfield" for="name">
    <input type="text" id="name"/>
    <span class="textfield__label">Your Name</span>
  </label>
  <label class="textfield" for="username">
    <input type="text" id="username"/>
    <span class="textfield__label">Username</span>
  </label>
  <label class="textfield" for="password">
    <input type="text" id="password"/>
    <span class="textfield__label">Password</span>
  </label>
  <br/>
  <input type="submit" value="Sign up" />
</form>

<script>
  const axios = require('axios');
 
  export default {
    data() {
      return {
        err: null
      }
    },
    methods: {
      onSubmit(e) {
        const self = this;

        e.preventDefault();
        console.log(e);
        axios.post('/auth', {
          name: e.target.name,
          username: e.target.username,
          password: e.target.password
        }).then(response => {
          if (response.data.id) {
            localStorage.setItem('auth', response.data.id);
          } else {
            self.set({err: response.data.error});
          }
        }).catch(err => {
          self.set({err: err.message});
        })
      }
    }
  }
</script>