<h2>
  {{#if signingUp}}
  Sign up
  {{else}}
  Log in
  {{/if}}
</h2>
<button on:click="toggleSigningUp()"
  class='btn--secondary'>
  {{#if signingUp}}
  Click here to log in
  {{else}}
  Click here to sign up
  {{/if}}
</button>
<form  on:submit='handleSubmit( event )'>
  {{#if err}}
    <span class='error'>{{err}}</span>
  {{/if}}
  {{#if signingUp}}
  <label class="textfield" for="name">
    <input type="text" id="name" name="name"/>
    <span class="textfield__label">Your Name</span>
  </label>
  {{/if}}
  <label class="textfield" for="username">
    <input type="text" id="username" name="username"/>
    <span class="textfield__label">Username</span>
  </label>
  <label class="textfield" for="password">
    <input type="password" id="password" name="password"/>
    <span class="textfield__label">Password</span>
  </label>
  <br/>
  <input type="submit" value="Sign up" />
</form>

<script>
  const axios = require('axios');
 
  export default {
    data() {
      return {
        err: null,
        signingUp: false
      }
    },
    methods: {
      toggleSigningUp() {
        const signingUp = this.get('signingUp');
        this.set({signingUp: !signingUp});
      },
      handleSubmit(e) {
        e.preventDefault();
        const self = this;
        const signingUp = this.get('signingUp');
        const url = signingUp ? '/users' : '/login';
        // name is undefined if using the login form, but it isn't required by the API so just pass null
        const name = signingUp ? e.target.elements.name.value : null;

        axios.post(url, {
          name: name,
          username: e.target.elements.username.value,
          password: e.target.elements.password.value
        }).then(response => {
          if (response.data.id) {
            self.fire('submit', {
              // on sign up, balance will be 0 and there will be no transactions
              balance: response.data.balance,
              transactions: response.data.transactions,
              id: response.data.id,
              name: response.data.name
            });
          } else {
            self.set({err: response.data.error});
          }
        }).catch(err => {
          self.set({err: err.message});
        })
      }
    }
  }
</script>