<div class="sidebar {{isExpanded ? 'expanded' : 'collapsed'}}">
  <!--Close button-->
  <button class="btn--secondary btn--menu" on:click="toggleSidebar()">
    <Close />
  </button>

  <!--Display each link-->
  {{#each links as link}}
  <div class="sidebar__link">
    <a href="{{link.href}}" on:click="navigate(event)">{{link.text}}</a>
  </div>
  {{/each}}

  <!--Include a log out button if authenticated-->
  {{#if userId}}
  <button on:click="handleLogOut()" class="btn--secondary">
    Log out
  </button>
  {{/if}}

</div>

<script>
  import Close from './icons/Close';

  export default {
    data() {
      return {}
    },
    methods: {
      handleLogOut() {
        this.fire('logout');
        this.fire('toggleSidebar');
      },
      toggleSidebar() {
        this.fire('toggleSidebar');
      },
      navigate(event) {
        this.fire('toggleSidebar');
        this.fire('navigate', {href: event.target.pathname})
        event.preventDefault();
      }
    },
    components: {
      Close
    }
  }
</script>