{{#if transactions.length === 0}}
<Spinner />
{{else}}
<table>
  <tr>
    <th><b>Location</b></th>
    <th><b>Amount</b></th>
    <!--07/06/17: removing category so it will fit better on mobile-->
    <!--<th><b>Category</b></th>-->
    <th><b>Date</b></th>
  </tr>
  {{#each transactions as transaction}}
    <tr class="{{processing ? 'processing' : ''}}">
      <td>{{transaction.location}}</td>
      <td>{{Number(transaction.amount) < 0 ? '-$' + (transaction.amount * -1).toFixed(2) : '$' + transaction.amount.toFixed(2)}}</td>
      <!--<td>{{transaction.category}}</td>-->
      <td>{{formatDate(transaction.transactionDate)}}</td>
    </tr>
  {{/each}}
</table>
{{/if}}

<script>
  import Spinner from './Spinner';
  const formatDate = require('../formatDate');

  export default {
    data() {
      return {}
    },
    components: {
      Spinner
    },
    helpers: {
      formatDate
    }
  }
</script>