{{#if transactions.length === 0}}
<Spinner />
{{else}}
<table>
  <tr>
    <td>Location</td>
    <td>Amount</td>
    <td>Category</td>
    <td>Date</td>
  </tr>
  {{#each transactions as transaction}}
    <tr class="{{processing ? 'processing' : ''}}">
      <td>{{transaction.location}}</td>
      <td>{{transaction.amount}}</td>
      <td>{{transaction.category}}</td>
      <td>{{transaction.date}}</td>
    </tr>
  {{/each}}
</table>
{{/if}}

<script>
  import Spinner from './Spinner';
  export default {
    data() {
      return {}
    },
    components: {
      Spinner
    }
  }
</script>