<section id='transaction-table'>
  <!--Header row-->
  <section class='grid table-header' tabindex="100">
      <div>Location</div>
      <div>Amount</div>
      <div>Date</div>
  </section>
  {{#each transactions as transaction}}
  <!--Overview grid row-->
  <section class='grid grid--transaction' tabindex="100">
      <div>{{transaction.location}}</div>
      <div>{{formatAsCurrency(transaction.amount)}}</div>
      <div>{{formatDate(transaction.transactionDate)}}</div>
  </section>
  <!--Detail grid row-->
  <section class='grid grid--transaction transaction-details'>
      <div>
        <b>Location</b>: {{transaction.location}}<br />
        <b>Amount</b>: {{formatAsCurrency(transaction.amount)}} <br />
        <b>Date</b>: {{formatDate(transaction.transactionDate)}}<br />
        <b>Balance*</b>: {{transaction.currentBalance
          ? formatAsCurrency(transaction.currentBalance)
          : 'unknown (was not saved properly)'}}<br />
        <b>Notes</b>: {{transaction.notes}}<br />

        <br />
        *Balance indicates account balance after transaction is applied
      </div>
  </section>
  {{/each}}
</section>

<script>
  const formatDate = require('../formatDate');
  const formatAsCurrency = require('../formatAsCurrency');

  export default {
    data() {
      return {}
    },
    helpers: {
      formatDate,
      formatAsCurrency
    }
  }
</script>