<section class='grid grid--medium'>
  <div>
    Hi {{#if name === ''}}
      <Spinner />
    {{else}}
      {{name}}. Your balance is:
      <h2>{{formatAsCurrency(balance)}}</h2>
    {{/if}}

    Add transaction:
    <AddTransaction
      on:beginTransactionAdd="beginTransactionAdd(event)"
      on:successTransactionAdd="successTransactionAdd(event)"
      on:errorTransactionAdd="errorTransactionAdd(event)" />
  </div>
  <div>
    Transactions: <br />
    <TransactionTable transactions={{transactions}} processing={{processing}}/>
  </div>
</section>

<script>
  import TransactionTable from './TransactionTable';
  import AddTransaction from './AddTransaction';
  import Spinner from './Spinner';
  const formatAsCurrency = require('../formatAsCurrency');

  export default {
    data() {
      return {
        balance: 0,
        transactions: [],
        processing: false
      }
    },
    components: {
      TransactionTable,
      AddTransaction,
      Spinner
    },
    methods: {
      beginTransactionAdd(event) {
        let transactions = this.get('transactions');
        const balance = this.get('balance');
        const newTransaction = {
          amount: event.amount,
          category: event.category,
          location: event.location,
          transactionDate: event.transactionDate
        };
        console.log(newTransaction)
        if (transactions) {
          transactions.unshift(newTransaction);
        } else {
          transactions = [newTransaction];
        }
        this.set({
          transactions: transactions,
          processing: true,
          balance: Number(balance) + Number(event.amount)
        });
      },
      successTransactionAdd(event) {
        // remove temporary disabled styling
        this.set({ processing: false });
      },
      errorTransactionAdd(event) {
        const transactions = this.get('transactions');
        transactions.shift();
        this.set({ transactions: transactions, processing: true });
      }
    },
    helpers: {
      formatAsCurrency
    }
  }
</script>