<section class='grid grid--medium'>
  <div>
    Hi {{name}}<br />
    Balance: <br />
    {{balance}} <br />
    <AddTransaction on:transactionAdded="handleAddTransaction(event)"/>
  </div>
  <div>
    Transactions: <br />
    <TransactionTable transactions={{transactions}}/>
  </div>
</section>

<script>
  import TransactionTable from './TransactionTable';
  import AddTransaction from './AddTransaction';

  export default {
    data() {
      return {
        balance: 0,
        transactions: []
      }
    },
    components: {
      TransactionTable,
      AddTransaction
    },
    methods: {
      handleAddTransaction(event) {
        transactions.push({
          event.amount,
          event.category,
          event.location
        })
      }
    }
  }
</script>