<section class='grid grid--medium'>
  <div>
    Hi {{name}}<br />
    Balance: <br />
    {{balance}} <br />
    <AddTransaction />
  </div>
  <div>
    Transactions: <br />
    <TransactionTable transactions={{transactions}}/>
  </div>
</section>

<script>
  import TransactionTable from './TransactionTable';
  import AddTransaction from './AddTransaction';

  export default {
    data() {
      return {
        balance: 0,
        transactions: []
      }
    },
    components: {
      TransactionTable,
      AddTransaction
    }
  }
</script>