.grid--transaction {
  div {
    border: 1px solid $gray5;
  }

  // Hide the "detail" rows by default
  &:nth-child(odd) {
    display: none;
  }

  &:nth-child(even) {
    // "Overview" rows should have styling to indicate interactivity
    &:hover div {
      background-color: $gray5;
      border-color: $gray2;
      cursor: pointer;
    }

    // Show the "detail" rows when previous sibling ("overview") is clicked
    &:focus {
      div {
        background-color: $gray5;
      }
      & + .grid--transaction {
        display: block;
      }
    }
  }
}

.table-header {
  font-weight: bold;
}

.transaction-details div {
  background-color: $gray6;
}
